<h2>Sign Up</h2>
<form action="/registrations" method="post">
  <input id="registrations-email" type="email" name="email">
  <input id="registrations-password" type="password" name="password">
  <input id="registrations-submit" type="submit" value="submit">
</form>
