<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="errors">
      <%= errors %>
    </div>

    <% if (currentUser) { %>
      <form action="/sessions?_method=DELETE" method="post">
        <input id="sign-out" type="submit" value="sign out">
      </form>
    <% } else { %>
      <a id="signin-link" href="/sessions/new">sign in</a>
      <a id="signup-link" href="/registrations/new">sign up</a>
    <% } %>

    <%- body %>
  </body>
</html>
